.env
.vscode/
.worktrees/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl

# Ansible
**/group_vars/vps/generated.yml
**/group_vars/vps/secrets.yml

.claude/
.venv/
.pytest_cache/
__pycache__/