[Unit]
Description=Analytics host collector timer
Requires=analytics-host-collector.service

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
